<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div>Add Authors to Recipe Book</div>

    <!-- :::from djangoproject.com ::: -->
    <form action="/author/add/" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" />
    </form>

    <div style="margin-top: 10px">
      <a href="../../">Home</a>
    </div>
    <div>
      <a href="../../logout">Logout</a>
    </div>
  </body>
</html>
