<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Author: {{ author.name }}</h1>
    <div>Bio: {{ author.bio }}</div>
    <div>Recipes by this author:</div>
    {%for recipe in recipes%}
    <li>
      <a href="../../recipe/{{ recipe.id }}">{{ recipe.title }}</a>
    </li>
    {%endfor%}
    <a href="../../">Index</a>
  </body>
</html>
