<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Index</title>
  </head>
  <body>
    <div>Recipes</div>
    {%for recipe in recipes %}

    <li>
      <a href="recipe/{{ recipe.id }}">{{ recipe.title }}</a>
    </li>
    {%endfor%}
    <div style="margin-top: 10px">
      <a href="recipe/add">Add Recipe</a>
    </div>

    <div style="margin-top: 10px">
      <a href="author/add">Add Author</a>
    </div>

    <div>
      <a href="logout">Logout</a>
    </div>
  </body>
</html>
