<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Recipe</title>
  </head>
  <body>
    <div>Title: {{ recipe.title }}</div>
    <div>Author: <a href='../../author/{{author.id}}'>{{ author.name }} <a></div>
    <div>Prep duration, may be quick: {{ recipe.time }}</div>
    <div>description: {{ recipe.description }}</div>
    <div>instructions: {{ recipe.instructions }}</div>
    <a href="../../">Index</a>
  </body>
</html>
